
.body {
    display: flex;
}

.header {
display: flex;
}


.wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
}
#startTime {
    background-color:rgb(66, 40, 128);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}
#questionsDiv {
    margin: 20px;
    font-size: 30px;
}

#currentTime {
float: right;
font-size: 25px;
}

.goBack {
    background-color:rgb(66, 40, 128);
    position: relative;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}



.clear {
    background-color: rgb(66, 40, 128);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 10px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: rgb(66, 40, 128);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: rgb(66, 40, 128);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}


